// common styles
@use './base/colors';
@use './base/break-points';
@use './base/mixins';

// here developer made custom common stickable drawer and applied its own stylesheet
// So design should manage with custom class with drawer-main class, its mandatory.
//  devloper structure like
//  

.drawer-main {
  --bs-offcanvas-width: calc(100% - 75px);
  --bs-offcanvas-padding-y: 9px;
  position: fixed;
  z-index: 91;
  top: 0;
  bottom: 0;
  right: -100%;
  width: var(--bs-offcanvas-width);
  max-width: 100%;
  background-color: #fff;
  transition: all 0.3s;
  min-height: 100dvh;
  visibility: hidden;
  display: flex;
  flex-direction: column;

  .mCSB_inside {
    >.mCSB_container {
      margin: 0;
    }
  }

  @include break-points.bp("xs-max") {
    --bs-offcanvas-width: 100%;
  }

  .drawer-header {
    padding: 9px 16px;
    background-color: var(--bg-primary-clr);
    position: relative;
    padding-right: 42px;
    gap: 10px;
    color: #fff;
    display: flex;
    align-items: center;

    @include break-points.bp (xs-max) {
      flex-wrap: wrap;
    }

    .btn-close {
      position: absolute;
      top: calc(50% - 12px);
      right: 12px;
      --bs-btn-close-color: #fff;
      background-image: url(../images/ic-close-white.svg);
      background-repeat: no-repeat;
      background-size: 24px;
      width: 24px;
      height: 24px;
      border-radius: 2px;
      border: none !important;
      box-shadow: none !important;
      opacity: 1;
      padding: 0;

      &:hover,
      &:focus {
        opacity: 0.6;
      }

      // @include break-points.bp (xs-max) {
      //   top: 18px;
      // }
    }

    .right-side {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 16px;
      white-space: nowrap;

      .btn:not(.ic-btn, .sq-btn) {
        padding-left: 22px;
        padding-right: 22px;

        @include break-points.bp (xs-max) {
          padding-left: 16px;
          padding-right: 16px;
        }
      }

      @include break-points.bp (xs-max) {
        margin-left: 0;
        gap: 10px;
      }
    }

    .drawer-title {
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      color: #fff;

      @include break-points.bp (xs-max) {
        width: 100%;
      }
    }
  }

  .disclaimer-body {
    padding: 16px;

    .disclaimer-text {
      margin-bottom: 17px;
    }

    .form-check-label {
      font-weight: 700;
    }
  }

  .drawer-body {
    flex: 1;
    overflow: hidden auto;

    &.p-16 {
      padding: 16px;
    }
  }

  .drawer-footer {
    padding: 12px 24px;
    background-color: #F6F6F6;

    .note {
      color: #888888;
      font-weight: 500;

      strong {
        color: #333333;
        font-weight: 700;
      }
    }
  }

  &.upsell-drawar {
    width: 90%;

    .disclaimer-header {
      width: 90%;
    }

    .disclaimer-body {
      padding: 68px 24px 24px;
      color: #444;
      text-align: center;

      @include break-points.bp (sm-max) {
        padding: 68px 18px 18px;
      }
    }

  }
}

.upsell-drawar-body {
  .upsell-banner {
    @include break-points.bp (sm-max) {
      padding-bottom: 40% !important;
    }

    >img {
      @include break-points.bp (sm-max) {
        width: 90% !important;
      }
    }
  }

  h2 {
    @include break-points.bp (md-max) {
      font-size: 30px !important;
      line-height: 34px !important;
    }

    @include break-points.bp (sm-max) {
      font-size: 26px !important;
      line-height: 30px !important;
    }

    @include break-points.bp (xs-max) {
      font-size: 22px !important;
      line-height: 26px !important;
    }
  }

  p.sub-text {
    @include break-points.bp (xs-max) {
      font-size: 18px !important;
      line-height: 22px !important;
    }
  }

  .card {
    >ul {
      li {
        @include break-points.bp (sm-max) {
          width: 100% !important;
        }
      }
    }

  }
}

.drawer-open {
  overflow: hidden;

  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .drawer-main {
    &.open {
      right: 0;
      visibility: visible;

      .disclaimer-header {
        right: 0;
      }
    }
  }

  &.second-level-drawer-open {
    &:before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 912;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .drawer-main {
      &.secondary-open {
        right: 0;
        visibility: visible;

        .disclaimer-header {
          right: 0;
        }
      }

      &.analysis-drawer {
        z-index: 912;
      }

      &.tasks {
        width: 100%;

        .disclaimer-header {
          width: 100%;
        }

        &.tax-lien-task {
          width: 90%;
          z-index: 912;

          .disclaimer-header {
            width: 90%;
          }
        }
      }

      &.tax-deed {
        width: 100%;

        .disclaimer-header {
          width: 100%;
        }

        &.faviourte-property-drawer {
          width: calc(100% - 78px);
          z-index: 912;

          @include break-points.bp("xs-max") {
            width: calc(100% - 30px);
          }

          .disclaimer-header {
            width: calc(100% - 78px);

            @include break-points.bp("xs-max") {
              width: calc(100% - 30px);
            }
          }
        }
      }

      &.student-detail {
        width: 100%;

        .disclaimer-header {
          width: 100%;
        }
      }

      &.tax-lien {
        width: 100%;

        .disclaimer-header {
          width: 100%;
        }
      }

      &.history-drawer {
        z-index: 912;
      }

      &.certificate-drawer {
        width: calc(100% - 118px);
        z-index: 912;

        .disclaimer-header {
          width: calc(100% - 118px);
        }
      }

      &.bank-info-drawer {
        width: calc(100% - 78px);
        z-index: 912;

        .disclaimer-header {
          width: calc(100% - 78px);
        }
      }

      &.property-card-drawer {
        width: calc(100% - 78px);
        z-index: 912;

        @include break-points.bp("xs-max") {
          width: calc(100% - 20px);
        }

        .disclaimer-header {
          width: calc(100% - 78px);
          z-index: 3;

          @include break-points.bp("xs-max") {
            width: calc(100% - 20px);
          }
        }
      }

      &.convert-drawer {
        width: 400px;
        z-index: 912;

        @include break-points.bp("xs-max") {
          width: 320px;
        }

        .disclaimer-header {
          width: 400px;

          @include break-points.bp("xs-max") {
            width: 320px;
          }
        }
      }

      &.write-off-drawer {
        width: calc(100% - 78px);
        z-index: 912;

        @include break-points.bp("xs-max") {
          width: calc(100% - 30px);
        }

        .disclaimer-header {
          width: calc(100% - 78px);

          @include break-points.bp("xs-max") {
            width: calc(100% - 30px);
          }
        }
      }

      &.update-transition-drawer {
        width: calc(100% - 78px);
        z-index: 912;

        @include break-points.bp("xs-max") {
          width: calc(100% - 30px);
        }

        .disclaimer-header {
          width: calc(100% - 78px);

          @include break-points.bp("xs-max") {
            width: calc(100% - 30px);
          }
        }
      }

      &.redeem-drawer {
        width: calc(100% - 78px);
        z-index: 912;

        @include break-points.bp("xs-max") {
          width: calc(100% - 30px);
        }

        .disclaimer-header {
          width: calc(100% - 78px);

          @include break-points.bp("xs-max") {
            width: calc(100% - 30px);
          }
        }
      }

      &.property-detail-drawer {
        max-width: 100%;

        .disclaimer-header {
          max-width: 100%;
        }
      }
    }
  }

  &.third-level-drawer-open {
    &:before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 913;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .drawer-main {
      &.third-level-open {
        right: 0;
        visibility: visible;

        .disclaimer-header {
          right: 0;
        }
      }

      &.tax-deed {
        &.faviourte-property-drawer {
          width: 100%;
          z-index: 912;

          @include break-points.bp("xs-max") {
            width: 100%;
          }

          .disclaimer-header {
            width: 100%;

            @include break-points.bp("xs-max") {
              width: 100%;
            }
          }
        }
      }

      &.county-auction {
        &.county-auction-main {
          z-index: 913;
        }
      }

      &.tasks {
        width: 100%;

        .disclaimer-header {
          width: 100%;
        }

        &.tax-lien-task {
          width: 100%;
          z-index: 912;

          .disclaimer-header {
            width: 100%;
          }
        }
      }

      &.add-tasks {
        &.tax-lien-add-task {
          z-index: 913;
        }
      }

      &.redeem-drawer {
        width: 100%;

        .disclaimer-header {
          width: 100%;
        }
      }

      &.convert-drawer {
        width: 100%;
        z-index: 912;

        .disclaimer-header {
          width: 100%;
        }
      }

      &.property-card-drawer {
        width: 100%;

        .disclaimer-header {
          width: 100%;
        }
      }

      &.tags-drawer {
        width: 462px;
        z-index: 913;

        @include break-points.bp("xs-max") {
          width: 300px;
        }

        .disclaimer-header {
          width: 462px;

          .heading-sub-text {
            font-size: 12px;
            font-weight: 400;
          }

          @include break-points.bp("xs-max") {
            width: 300px;
          }
        }
      }

      // &.upload-attachment-drawer {
      //   width: 991px;
      //   z-index: 913;

      //   @include break-points.bp("md-max") {
      //     width: 575px;
      //   }

      //   @include break-points.bp("xs-max") {
      //     width: 330px;
      //   }

      //   .disclaimer-header {
      //     width: 991px;

      //     @include break-points.bp("md-max") {
      //       width: 575px;
      //     }

      //     @include break-points.bp("xs-max") {
      //       width: 330px;
      //     }
      //   }
      // }

      &.bank-info-drawer {
        width: calc(100% - 78px);
        z-index: 913;

        .disclaimer-header {
          width: calc(100% - 78px);
        }
      }

      &.update-transition-drawer {
        width: 100%;

        .disclaimer-header {
          width: 100%;
        }
      }

      &.add-attachment-drawer {
        width: 462px;
        z-index: 913;

        @include break-points.bp("xs-max") {
          width: 320px;
        }

        .disclaimer-header {
          width: 462px;

          @include break-points.bp("xs-max") {
            width: 320px;
          }
        }
      }
    }
  }
}