// common styles
@use '../base/colors';
@use '../base/break-points';
@use '../base/mixins';

// Property details drawer
// ---------------------------------------------------------------------------
.divider {
    border-left: 1px solid #888;
    min-height: 15px;
}

.badge {
    &.sm {
       padding: 3px 7px;
       --bs-badge-font-size: 13px;
    }
}

.drawer-main:has(.property-drawer-detail) {
  .drawer-header {
    align-items: normal;

      @include break-points.bp (sm-max) {
        flex-wrap: wrap;
        }

    .right-side {
      align-items: flex-start;
        @include break-points.bp (sm-max) {
        margin-left: 0;
        gap: 10px;
        margin-right: -30px;
      }
    }
  }
}

.property-drawer-detail {
    color: #333333;

    .px-24p {
        padding-left: 24px !important;
        padding-right: 24px !important;

        @include break-points.bp (sm-max) {
            padding-left: 18px !important;
            padding-right: 18px !important;
        }

        @include break-points.bp (xs-max) {
            padding-left: 16px !important;
            padding-right: 16px !important;
        }
    }

    .p-24p {
        padding: 24px !important;

        @include break-points.bp (sm-max) {
            padding: 18px !important;
        }

        @include break-points.bp (xs-max) {
            padding: 15px !important;
        }
    }

    .top-common-section {
        padding: 20px 24px;
        background-color: #f2f2f2;

        @include break-points.bp (sm-max) {
            padding: 15px;
        }
    }

    .svg-fill-primary {
        path {
            fill: var(--bg-primary-clr);
        }
    }

    .row {
        &.space-8 {
            --bs-gutter-x: 8px;
            --bs-gutter-y: 8px;
        }
    }

    .family-residence-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        @include break-points.bp("sm-max") {
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 15px;
        }

        .info-left {
            padding-right: 15px;
            color: #444;

            @include break-points.bp("sm-max") {
                width: 100%;
                padding-right: 0;
                padding-bottom: 10px;
            }

            .info-title {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                flex-wrap: wrap;
                gap: 10px;

                h6 {
                    color: #333;
                }

                .divider {
                    border-left: 1px solid #888;
                    min-height: 15px;
                }

                p {
                    font-size: 13px;
                    line-height: 17px;
                    font-weight: 600;
                    color: #333;
                    margin: 0;

                    span {
                        font-weight: 400;
                        color: #888;
                        display: inline-block;
                        padding-right: 6px;
                    }
                }
            }

            .features-detail-list {
                display: flex;
                flex-wrap: wrap;
                gap: 10px 30px;
                font-size: 14px;
                line-height: 18px;
                color: #333;

                li {
                    width: auto;
                    display: flex;
                    align-items: center;

                    .i {
                        width: 24px;
                        min-width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        border: 0.8px solid var(--bg-primary-clr);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 6px;

                        // svg {
                        //     width: 15px;
                        //     height: 15px;
                        // }
                    }
                }
            }
        }

        .drawer-action-btn {
            display: flex;
            gap: 10px;

            .sq-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 34px;
                min-width: 34px;
                height: 34px;
                min-height: 34px;
                border-radius: 4px;
                border: 1px solid var(--bg-primary-clr);
                ;
            }
        }

    }

    .property-value-box {
        display: flex;
        flex-wrap: wrap;
        background-color: #fff;
        border-radius: 4px;
        overflow: hidden;
        border: 1px solid #ddd;
        height: 100%;

        @include break-points.bp (xs-max) {
            flex-direction: column;
        }

        .img-thumb {
            width: 224px;
            max-width: 100%;
            position: relative;
            cursor: pointer;

            @include break-points.bp (xs-max) {
                width: 100%;
                padding-bottom: 50%;
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .propery-badge {
                position: absolute;
                top: 10px;
                left: 10px;
                font-weight: 600;
                font-size: 12px;
                color: #45963e;
                width: 30px;
                height: 30px;
                box-shadow: 0 0 4px rgba(0, 0, 0, .12);
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                border-radius: 50%;
                z-index: 2;

                &.thumb {
                    left: auto;
                    right: 15px;
                }
            }
        }

        .property-list-box {
            width: calc(100% - 224px);

            @include break-points.bp (xs-max) {
                width: 100%;
            }

            li {
                display: flex;
                font-size: 13px;
                line-height: 17px;

                .listing-part {
                    padding: 8px 14px;
                    min-height: 33px;
                    width: 55%;
                    display: flex;
                    align-items: center;

                    @include break-points.bp (xxlg-max) {
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    .property-name-label {
                        color: #888888;
                        min-width: 132px;
                    }

                    .property-name-value {
                        color: #333;
                    }

                    &:first-child {
                        width: 45%;

                        .property-name-label {
                            min-width: 101px;
                        }
                    }

                }

                &:nth-child(odd) {
                    background-color: #F7F7F7;
                }
            }
        }
    }

    .property-info-block {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        height: 100%;
        overflow: hidden;

        .nav-tabs {
            background-color: #fff;
        }

        .feature-tab-links {
            border-bottom: 1px solid #CCCCCC;
            height: 39px;
            padding: 0 10px;
        }

        .feature-tab-links.has-arrows .arrow-link {
            top: 4px;
        }

        .tab-content {
            padding: 10px;
        }

        .card-text-val {
            min-height: 49px;
        }

        .card-text-val+.card-text-val {
            margin-top: 8px;
        }

        .primary-tab li {
            .nav-link {
                padding: 9.5px 15px;
            }
        }
    }

    .lien-custom-row {
        &.row {
            --bs-gutter-x: 8px;
            --bs-gutter-y: 8px;

            @media (min-width: 992px) {
                .col-lg {
                    width: 20%;
                    flex: 0 0 auto;
                }
            }
        }
    }

    .card-text-val {
        background-color: #F7F7F7;
        padding: 5.6px 10px;
        border-radius: 4px;

        p {
            font-weight: 700;
            color: #333333;
            line-height: 19px;
            margin-bottom: 2px;
        }

        span {
            color: #888888;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            display: block;
        }

        .tooltip-block {
            color: #888888;
            font-size: 14px;
            display: flex;
            align-items: center;

            .custom-tooltip-box {
                line-height: 0;

                .tooltip-wrapper {
                    min-width: 203px;
                    left: auto;
                    right: 30px;

                    @include break-points.bp('smd-max') {
                        right: 0;
                        left: 100%;
                        transform: translateX(10px);
                    }

                    @include break-points.bp('sm-max') {
                        right: auto;
                        left: 50%;
                        top: 100%;
                        transform: translate(-50%, 10px);
                        z-index: 11;
                    }

                    .tooltip-arrow {
                        left: auto;
                        right: -10px;
                        transform: rotate(176deg);
                        top: 28px;

                        @include break-points.bp('smd-max') {
                            left: -10px;
                            right: 100%;
                            transform: rotate(0);
                        }

                        @include break-points.bp('sm-max') {
                            left: 50%;
                            right: 100%;
                            transform: rotate(90deg) translateY(4px);
                            top: -9px;
                        }

                        &:after {
                            box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.2);
                        }
                    }
                }

                .info-black-round {
                    cursor: pointer;
                    margin-left: 4px;
                }
            }

            .auction-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 8px;

                &:last-child {
                    margin-bottom: 0;
                }

                .auction-label {
                    font-size: 12px;
                    font-weight: 400;
                    color: #888888;
                }

                .auction-value {
                    font-size: 14px;
                    font-weight: 700;
                    color: #333333;
                    margin: 0;
                    line-height: 14px;
                }
            }

        }
    }

    .outline-card {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 12px 16px;
        margin-bottom: 16px;
        overflow: hidden;

        &.bg-gray {
            background-color: #F8F8F8;
        }

        .h-title {
            font-size: 16px;
            font-weight: 700;
            line-height: 19.2px;
            color: #333;
            margin-bottom: 12px;
        }

        @include break-points.bp (sm-max) {
            padding: 15px;
        }
    }

    .link-property-card .outline-card {
        border: 1px solid rgba(0, 86, 161, 0.40);
        border-radius: 4px;
        padding: 20px;
        margin: 0;

        @include break-points.bp('sm-max') {
            padding: 15px;
        }

        .h2 {
            margin-bottom: 5px;
            font-size: 28px;
            font-weight: 700;
            line-height: 32px;
            color: #0056a1;

            @include break-points.bp('sm-max') {
                font-size: 20px;
                line-height: 24px;
            }
        }
    }

    .input-val {
        font-size: 14px;
        line-height: 18px;
        color: #444;
        font-weight: 500;

        label {
            font-weight: 400;
            color: #888888;
            display: block;
            margin-bottom: 6px;
        }

        p {
            font-weight: 700;
        }

        .with-btn {
            display: flex;
            align-items: center;
            gap: 6px;

            a:hover,
            a:focus {
                opacity: 0.6;
            }
        }
    }

    .links-block {
        li {
            margin-bottom: 7px;
        }

        .link-icon.ic-explore {
            min-width: 36px;
            min-height: 36px;
            background-color: var(--bg-primary-clr);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-image: url(../images/location-icon.svg);
            width: 16px;
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: center;
        }

        a {
            display: inline-flex;
            align-items: center;
            gap: 10px;
            color: var(--bg-primary-clr);

            &:hover,
            &:focus {
                opacity: 0.6;
            }
        }

        .ic-link {
            width: 20px;
            height: 20px;
            background-image: url(../images/link-icon-blue.svg);
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .attach-file-info li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-right: 42px;

        .btn.delete-ic {
            position: absolute;
            top: 9px;
            right: 6px;
        }

        .file-info-message {
            display: flex;
            gap: 9px;
        }

        .file-icon {
            width: 36px;
            height: 36px;
            min-width: 36px;
            border-radius: 50%;
            border: 1px solid var(--bg-primary-clr);
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(../images/file-icon.svg);
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: center;
        }

        .file-name {
            line-height: 18px;
            font-weight: 600;
            color: #333333;
            margin-bottom: 3px;
        }

        .file-description {
            display: block;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.4px;
            color: #333333;
            margin-bottom: 5px;
        }

        .file-upload-detail {
            display: block;
            font-size: 11px;
            font-weight: 400;
            line-height: 13.2px;
            color: #666666;
        }
    }

    .main-property-tabs {
        .feature-tab-links {
            height: 52px;

            .primary-tab.nav-tabs {
                background-color: #fff;

                .nav-link {
                    min-height: 52px;
                }
            }
        }

        .property-tabs {
            padding: 0 24px;

            .primary-tab .nav-link {
                padding: 10px 20px;
            }
        }
    }

    .tab-content {
        .bb {
            border-bottom: 1px solid #ddd;
        }

        .p-14p_16p {
            padding: 14px 16px;
        }

        .links-block {
            padding: 16px;
        }

        .notes-block {
            .notes-message {
                padding: 16px;
                border-bottom: 1px solid #DDDDDD;

                .form-control {
                    min-height: 68px;
                    margin-bottom: 10px;
                    resize: none;
                }

                .notes-btn {
                    text-align: right;
                }
            }

            .notes-received {
                li {
                    border-bottom: 1px solid #DDDDDD;
                    padding: 14px 16px;
                    font-size: 14px;
                    line-height: 18px;
                    color: #333333;
                }

                p {
                    color: #333333;
                }

                .received-header {
                    display: flex;
                    justify-content: space-between;
                    gap: 4px;
                    margin-bottom: 6px;
                    word-break: break-all;

                    .rh-left {
                        display: flex;
                        gap: 4px;
                        max-width: calc(100% - 155px);

                        h6 {
                            margin: 0;
                            font-weight: 600;
                            color: #333333;
                        }
                    }

                    .receiver-name {
                        width: 22px;
                        min-width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        background-color: var(--bg-primary-clr);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        font-style: normal;
                        font-size: 12px;
                        line-height: 16px;
                        text-transform: uppercase;
                    }

                    .received-date {
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 20px;
                        color: #666666;
                        white-space: nowrap;
                    }
                }

            }
        }

        .tags-tab {
            .chip-list {
                display: flex;
                align-items: center;
                gap: 9px;
                flex-wrap: wrap;
                padding: 14px;

                a {
                    font-size: 14px;
                    line-height: 18px;
                    display: block;
                    min-height: 24px;
                    padding: 3px 12px;
                    background-color: var(--bg-primary-clr);
                    color: #fff;
                    font-weight: 700;
                    border-radius: 15px;
                }
            }
        }
    }

    .property-details-row {
        .left-col {
            width: calc(100% - 501px);
        }

        .right-col {
            width: 501px;
        }

        @include break-points.bp(lg-max) {
            .left-col {
                width: 100%;
            }

            .right-col {
                width: 100%;
            }
        }
    }

    .delinquent-tax-card {
        .d-flex.list {
            gap: 16px;
            justify-content: space-between;

            @include break-points.bp (xxlg-max) {
                flex-wrap: wrap;
            }

            li {
                &.tx {
                    display: flex;
                    align-items: flex-start;
                    gap: 16px;
                    width: 212px;

                    .form-control {
                        min-width: 98px;
                    }
                }

                &.owner-li {
                    .input-val p {
                        max-width: 250px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;

                        @include break-points.bp (xs-max) {
                            max-width: 100%;
                            white-space: normal;
                        }
                    }
                }

                @include break-points.bp (xxlg-max) {
                    &.tx {
                        width: 100%;
                    }
                }

                @include break-points.bp (sm-max) {
                    white-space: normal;
                    flex: auto;
                    width: calc(50% - 16px);
                }

                @include break-points.bp (xs-max) {
                    width: 100%;
                }


            }

        }
    }

    .last-tax-card {
        .d-flex.list {
            gap: 16px;
            justify-content: space-between;

            @include break-points.bp (smd-max) {
                flex-wrap: wrap;
                justify-content: flex-start;

                li {
                    width: calc(33.33% - 16px);
                }
            }

            @include break-points.bp (sm-max) {
                li {
                    width: calc(50% - 16px);
                }
            }

            @include break-points.bp (xs-max) {
                li {
                    width: 100%;
                }
            }
        }
    }

    .table-card {
        border: 1px solid #dddddd;
        border-radius: 4px;
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }

        .table-card-title {
            padding: 4px 16px;
            min-height: 40px;
            display: flex;
            align-items: center;

            h4 {
                font-size: 16px;
                line-height: 21px;
                font-weight: 700;
                color: #333333;
                width: 100%;
            }
        }
    }

    // map tab
    .map-tab-outer {
        @media (min-width: 768px) {
            align-items: center;
            flex-direction: row-reverse;
            gap: 20px;

            &.active {
                display: flex;
            }
        }

        .nav-tabs.switch-tab {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            padding-bottom: 20px;

            @media (min-width: 768px) {
                flex-shrink: 0;
                writing-mode: vertical-rl;
                text-orientation: mixed;
                padding-bottom: 0;
            }

            .nav-link {
                padding: 7px 12px;
                line-height: 20px;
                color: #333;
                min-height: auto;
                font-weight: 400;
                min-width: 70px;

                @media (min-width: 768px) {
                    padding: 12px 7px;
                    min-height: 70px;
                    min-width: auto;
                }
            }

            .nav-item:first-child .nav-link {
                border-top-left-radius: 25px;
                border-top-right-radius: 0;
                border-bottom-left-radius: 25px;

                @media (min-width: 768px) {
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                    border-bottom-left-radius: 0;
                }
            }

            .nav-item:last-child .nav-link {
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                border-bottom-left-radius: 0;

                @media (min-width: 768px) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 25px;
                    border-bottom-left-radius: 25px;
                }
            }
        }

        .tab-content {
            width: 100%;
        }

        // .tab-content .tab-pane {
        //   padding: 24px 24px 0;

        //   @include break-points.bp (lg-max) {
        //     padding: 15px 15px 0;
        //   }
        // }
    }

    .map-frame-outer {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -12px;

        @include break-points.bp (sm-max) {
            margin: 0;
        }

        .mfo-left,
        .mfo-right {
            width: 50%;
            padding: 0 12px;

            @include break-points.bp (sm-max) {
                width: 100%;
                padding: 0 0 12px;
            }

            .map-inner {
                position: relative;
                overflow: hidden;
                // padding-bottom: 60%;
                padding-bottom: calc(100vh - 493px);
                min-height: 200px;

                @include break-points.bp (sm-max) {
                    padding-bottom: 0;
                    min-height: 300px;
                }

                iframe {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }

    .neighborhoodandschool-info-card {
        .map-inner {
            width: 100%;
            min-height: 332px;
            height: 100%;
            border-radius: 4px;
            overflow: hidden;

            iframe {
                min-height: 332px;
                width: 100% !important;
                height: 100% !important;
            }
        }
    }

    .confidential-block {
        min-height: calc(100vh - 410px);

        @include break-points.bp (lg-max) {
            min-height: auto;
        }
    }

    // scout tab
    .scout-without-data {
        padding: 60px 0;
        min-height: calc(100vh - 580px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .text-md {
            font-size: 18px;
            font-weight: 400;
            line-height: 20px;
            color: #666666;
            margin-bottom: 18px;
        }
    }

    .scout-tab-head {
        margin-bottom: 6px;

        .select2.select2-container {
            width: 208px !important;
            max-width: 100%;

            @include break-points.bp (xs-max) {
                width: 100% !important;
            }
        }

        @include break-points.bp (xs-max) {
            .right-btns {
                width: 100%;

                >label {
                    width: 100%;
                }
            }

            .select2-dropdownParent,
            .btn {
                width: calc(50% - 8px);
            }
        }
    }

    .scout-tab-propertyimg-list {
        .image-uploaded-layout {
            min-width: 179px;

            @include break-points.bp (lg-max) {
                min-width: auto;
            }
        }

        .scout-add-img-card {
            border-radius: 10px;
            border: 1px dashed rgba(0, 86, 161, 0.4);
            font-size: 14px;
            font-weight: 600;
            line-height: 16.8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-width: 122px;
            height: 160px;
            color: #0056A1;
            gap: 4px;
            cursor: pointer;

            @include break-points.bp (lg-max) {
                min-width: auto;
            }

            .i {
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .scout-que-grid {
        &.row {
            margin-top: -16px;
            margin-bottom: -16px;

            @include break-points.bp (sm-max) {
                margin-top: -8px;
                margin-bottom: -8px;
            }
        }

        .col-12 {
            margin-top: 0;
            padding-top: 16px;
            padding-bottom: 16px;
            border-bottom: 1px solid #D2D5D8;

            @include break-points.bp (sm-max) {
                border-bottom: none;
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }
    }
}

.property-drawer-detail.with-cetificate {
    .family-residence-info {
        align-items: flex-start;
    }

    .auction-block {
        margin-top: -30px;

        @include break-points.bp(xmlg-max) {
            margin-top: 0;
        }
    }

    .property-info-block {
        @include break-points.bp(xmlg-max) {
            height: auto;
        }

        .edit-bid-box {
            cursor: pointer;
            background-color: #F2F9FF;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #337AB7CC;
            font-family: Lato;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            margin-top: 0;
            border: 1px solid transparent;
            padding: 4.5px 10px;

            &.edit {
                border-color: #337AB7;
                display: block;
                color: #333333;

                input {
                    width: 100%;
                    color: #337AB7;
                    font-weight: 700;
                }

                .suffix {
                    color: #888888;
                }
            }

            &.edited {
                display: block;
                color: #333333;
            }
        }
    }

    .selectedasset-custom-row {
        &.row {
            --bs-gutter-x: 8px;
            --bs-gutter-y: 8px;

            .card-text-val {
                height: 100%;
            }

            @media (min-width: 992px) {
                .col-lg {
                    width: 20%;
                    flex: 0 0 auto;
                }
            }
        }
    }

    .tags-tab {
        padding: 16px;

        .bootstrap-tagsinput {
            height: 100%;
            align-items: flex-start;
            align-content: baseline;
            max-height: 228px;
            min-height: 182px;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 4px;
                height: 4px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: #BCBCBC;
                opacity: 0.4;
                border-radius: 12px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #b4b2b2;
                opacity: 0.4;
            }
        }

        .chip-list a {
            font-weight: 500;
            padding: 5px 10px;
        }
    }

    .delinquent-tax-card {
        background-color: #F4F9FF;
    }

    .confidential-block {
        min-height: calc(100vh - 470px)
    }
}

// Comparables & Near by Listings
.comparable-tab-panel-inner {
    display: flex;
    gap: 16px;

    @include break-points.bp("lg-max") {
        flex-wrap: wrap;
    }

    .left-section {
        max-width: 467px;
        width: 100%;

        @include break-points.bp("lg-max") {
            max-width: 100%;
        }

        .grey-box {
            border-radius: 4px;
            border: 1px solid #dddddd;
            background-color: #f8f8f8;
            padding: 10px;
            margin-bottom: 18px;

            .custom-row {
                display: flex;
                margin: -5px;
                flex-wrap: wrap;

                @include break-points.bp("xs-max") {
                    margin: 0;
                }

                .custom-col {
                    padding: 5px;
                    width: 50%;

                    @include break-points.bp("xs-max") {
                        width: 100%;
                        padding: 10px 0 0;
                    }
                }
            }

            .form-label {
                font-size: 13px;
                line-height: 16px;
                display: block;
            }

            .form-control,
            .dk-selected {
                padding: 7px 10px;
                font-size: 13px;
                line-height: 16px;
            }

            .dk-selected {
                &:before {
                    margin-right: 10px;
                }
            }

            .inner-row {
                display: flex;
                margin: -5px;
                flex-wrap: wrap;

                .inner-col {
                    padding: 5px;
                    width: 50%;
                }
            }
        }

        .digimap-map {
            position: relative;
            border-radius: 4px 4px 0 0;
            height: 338px;

            iframe {
                width: 100%;
                height: 100%;
                border-radius: 4px 4px 0 0;
            }

            .fill-icon {
                background-color: #fff;
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                transition: all 0.5s;
                position: absolute;
                top: 8px;
                left: 8px;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

                &:hover {
                    background-color: #f0f0f0;
                }
            }

            .map-info-box {
                background-color: #fff;
                border-radius: 6px;
                transition: all 0.5s;
                padding: 5px 12px 14px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 74%;
                max-width: 100%;
                opacity: 0;
                top: 0;
                visibility: hidden;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
                font-size: 14px;
                line-height: 20px;

                .map-info-show & {
                    top: 15px;
                    opacity: 1;
                    visibility: visible;
                }

                p {
                    padding-bottom: 14px;
                    margin-bottom: 0;
                    font-weight: 600;
                }

                .btn-combo {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }

                .btn {
                    font-size: 14px;
                    line-height: 20px;
                    min-width: 72px;
                    padding: 5px 6px;

                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
        }

        .digimap-map-legends {
            border-radius: 0 0 4px 4px;
            border: 1px solid #dddddd;
            border-top: 0;

            ul {
                display: flex;
                align-content: inherit;
                flex-wrap: wrap;
                padding-top: 10px;

                li {
                    width: 33.33%;
                    display: flex;
                    align-items: center;
                    margin: 0 !important;
                    font-size: 14px;
                    line-height: 18px;
                    padding: 0 10px 10px;

                    @include break-points.bp("sm-max") {
                        width: 50%;
                    }

                    @include break-points.bp("xs-max") {
                        width: 100%;
                        padding: 0 0 10px 10px;
                    }

                    .icon {
                        height: 14px;
                        width: 14px;
                        border-radius: 50%;
                        margin-right: 6px;
                    }
                }
            }
        }
    }

    .right-section {
        max-width: calc(100% - 467px);
        width: 100%;

        @include break-points.bp("lg-max") {
            max-width: 100%;
        }

        .avg-content-block {
            display: flex;
            align-items: center;
            border: 1px solid #dddddd;
            border-radius: 4px;
            margin-bottom: 16px;

            @include break-points.bp("xs-max") {
                flex-wrap: wrap;
            }

            li {
                border-right: 1px solid #dddddd;
                display: flex;
                flex-direction: column;
                margin: 0 !important;
                width: 100%;
                padding: 10px;
                text-align: center;

                &:last-child {
                    border-right: none;
                }

                @include break-points.bp("xs-max") {
                    border-right: 0;
                    border-bottom: 1px solid #dddddd;

                    &:last-child {
                        border-bottom: none;
                    }
                }

                p {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    padding-bottom: 5px;
                    margin-bottom: 0;
                }

                span {
                    font-size: 14px;
                    line-height: 20px;
                    color: #888888;
                }
            }
        }
    }

    .blue-bg {
        background-color: #2697d7;
    }

    .sky-blue-bg {
        background-color: #3cc8d3;
    }

    .dark-orange-bg {
        background-color: #ec8850;
    }

    .pink-bg {
        background-color: #e27daa;
    }

    .purple-bg {
        background-color: #a590c5;
    }

    .red-bg {
        background-color: #ff0000;
    }
}



// pload-attachment-drawer
// ---------------------------------------------------------------------------
.drawer-main.upload-attachment-drawer {
    width: var(--bs-offcanvas-width);
    z-index: 913;

    .btn-close {
        top: 10px;
    }

    @include break-points.bp("xs-max") {
        width: 100%;
    }

    .disclaimer-header {
        width: 991px;

        @include break-points.bp("md-max") {
            width: 575px;
        }

        @include break-points.bp("xs-max") {
            width: 330px;
        }
    }
}

.drawer-main.image-drawer {
    z-index: 913;
    width: 630px;

    @include break-points.bp("sm-max") {
        width: 100%
    }

    .property-info-slider {
        margin-bottom: 6px;

        .single-slide {
            position: relative;
            height: 0;
            padding-bottom: 38.3%;

            img {
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                object-fit: cover;
            }
        }

        .swiper-button-prev {
            background-image: url('../images/round-previous.svg');
            left: 20px;

            @include break-points.bp('xs-max') {
                left: 10px;
            }
        }

        .swiper-button-next {
            background-image: url('../images/round-next.svg');
            right: 20px;

            @include break-points.bp('xs-max') {
                right: 10px;
            }
        }


        .swiper-button-next,
        .swiper-button-prev {
            background-repeat: no-repeat;
            background-size: 36px;
            width: 36px;
            height: 36px;
            transform: translateY(-50%);
            top: 50%;
            margin: 0;

            &::after {
                display: none;
            }
        }
    }

    .swiper {
        .swiper-pagination-bullet {
            height: 10px;
            width: 10px;
            margin: 0 3px;
            background-color: #fff;
            opacity: 1;

            &.swiper-pagination-bullet-active {
                background-color: #0056a1;
            }
        }
    }

    .thumbnail-swiper {
        margin-bottom: 10px;

        .single-slide {
            height: 0;
            border: 2px solid transparent;
            border-radius: 4px;
            transition: all 0.5s;
            position: relative;
            padding-bottom: 77%;
            display: block;

            img {
                height: 100%;
                border-radius: inherit;
                object-fit: cover;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
            }
        }

        .swiper-slide-thumb-active {
            .single-slide {
                border-color: #0056a1;
            }
        }
    }

    .property-listing-wrapper {
        .property-listing {
            display: flex;
            align-items: center;
            padding: 4px 14px;
            min-height: 50px;
            align-items: center;
            flex-wrap: wrap;

            &:nth-child(odd) {
    background-color: #f7f8fa;
}
&:nth-child(even) {
    background-color: #fff;
}

            .property-label,
            .property-value {
                line-height: 20px !important;
            }

            .pl-left,
            .pl-right {
                width: 50%;
                display: flex;
                gap:16px;
                align-items: center;
                 @include break-points.bp("sm-max") {
                    width: 100%;
                    padding: 10px;
                    }
            }

            span.property-label {
                width: 40%;
            }

            p.property-value {
                width: 60%;
            }
        }
    }

}

// modal
.success-modal.modal {
    .modal-body {
        text-align: center;
        padding: 50px 15px 0;
    }

    .text-success {
        color: #61cf57 !important;
    }
}

.customize-layout-dropdown {
    z-index: 2;

    .dropdown-menu {
        min-width: 720px;
        padding: 16px 20px 20px;
        border: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .2);

        &:after {
            content: "";
            position: absolute;
            right: 13px;
            top: -9px;
            width: 22px;
            height: 22px;
            transform: rotate(45deg);
            background-color: #fff;
            box-shadow: -3px -3px 4px rgba(0, 0, 0, .06);
        }

        @include break-points.bp("smd-max") {
            min-width: 550px;
        }

        @include break-points.bp("sm-max") {
            min-width: 500px;
        }

        @include break-points.bp("xs-max") {
            min-width: 300px;
        }

        &[data-popper-placement="top-end"] {
            &::after {
                top: auto;
                bottom: -9px;
                box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.06);
            }
        }

        &::after {
            right: 5px;

            @include break-points.bp("sm-max") {
                display: none;
            }
        }

        .heading {
            font-size: 20px;
            line-height: 24px;
            font-weight: 600;
            color: #444;
            margin-bottom: 16px;
        }

        .form-check {
            .form-check-label {
                font-weight: 400;
            }
        }


        .action-btn-group {
            margin: 24px 20px 20px;

            @include break-points.bp("xs-max") {
                flex-wrap: wrap;
                margin: 15px;
            }

            .footer-btn-group {
                display: flex;
                align-items: center;
            }

            .btn-outline-primary {
                padding: 10px 14px;
                margin-right: 14px;
            }

            .btn-primary {
                margin-right: 0;
            }
        }
    }
}