@use '../base/colors';
@use '../base/break-points';
@use '../base/mixins';

.user-setting-page {
	font-size: 14px;
	line-height: 18px;

	.ham-btn {
		display: none;
		margin: -8px;
		margin-right: 0;

		@include break-points.bp (smd-max) {
			display: block;
		}
	}

	@include break-points.bp (smd-max) {
		.aside-layout-wrapper {
			height: 100%;
			position: relative;

			.aside-menus {
				position: fixed;
				top: 78px;
				left: -258px;
				;
				bottom: 0;
				z-index: 6;
				transition: all 0.3s;

				@include break-points.bp('xs-max') {
					top: 62px;
				}
			}

			.backdrop {
				@include break-points.bp('xs-max') {
					top: 62px;
				}
			}

			.aside-details {
				width: 100%;
			}

			&.show-menu {
				.aside-menus {
					left: 0;
				}

				.backdrop {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}