$black: #000;
$blackPrimary: #444444;
$blackSecondary: #282828;
$white: #ffffff;
$offWhite: #fafafa;
$offWhite2: #f0f0f0;
$lightGrey: #e5e5e5;
$lightGrey1: #dddddd;
$lightGrey2: #cccccc;
$lightGrey3: #f2f2f2;
$lightGrey4: #f9f9f9;
$lightGrey5: #f6f6f6;
$lightGrey6: #f7f8fa;
$lightGrey7: #e1e1e1;
$lightGrey8: #ececec;
$lightGrey9: #eeeeee;
$lightGrey10: #bbbbbb;
$lightGrey11: #f8f8f8;
$silverLight: #f9fafb;
$darkGrey: #888888;
$darkGreySecondary: #999999;
$darkGrey2: #666666;
$darkGrey1: #a7a7a7;
$darkGrey3: #e9ecef;
$darkGrey4: #c4c4c4;
$darkBlue: #0056a1;
$darkBlue2: #00315d;
$darkBlue3: #2373b9;
$lightBlue: #2697d7;
$skyBlue: #65b9e9;
$skyBlue2: #33c6f4;
$lightSkyBlue: #f0f9ff;
$lightSkyBlue2: #dff4ff;
$redDark: #dc3545;
$red: #ff6464;
$redPrimary: #f57272;
$redLight: #ffecec;
$redLight1: #fff8ed;
$green: #3cbd95;
$greenPrimary: #61cf57;
$greenDark: #198754;
$greenDark2: #45963e;
$greenDark1: #b5be4e;
$greenDark3: #dff0d8;
$greenLight: #c6f8e8;
$greenLight2: #e4fdf5;
$greenLight3: #e8ffde;
$purple: #a590c5;
$purpleDark: #7367f0;
$purpleLight: #f1e8ff;
$purpleLight2: #f0e8fd;
$orange: #ec8850;
$orangeLight: #f8784f;
$orangeDark: #fb8847;
$pinkLight: #e27daa;
$pinkDark: #ef86b9;
$yellowMain: #f8c43e;
$goldenMain: #dfac48;
$yellowPrimary: #f6b330;
$yellowSecondary: #e9bc4a;
$darkBlue4: #93b5d3;
$black-01: rgba(0, 0, 0, 0.1);
$black-02: rgba(0, 0, 0, 0.2);
$black-006: rgba(0, 0, 0, 0.06);
$bluePrimary-04: rgba(0, 86, 161, 0.4);
$white-04: rgba(255, 255, 255, 0.4);
$skyblue3: #3cc8d3;
$red2: #ff0000;
$green2: #A7E2D0;
$lightGreen: #EFFAF7;
$blueLight: #9ED1ED;
$skyBlue4: #EEF7FC;

// Client Colors
$darkBlue1: #013660;
$parrotColor: #54C354;
$greyBg: #F7F7F7;
$black-03: #333333;
$skyBlue5: #F2F9FF;
$skyBlueDark: #337AB7;
$grey5: #D2D5D8;
$skyLight: #EBF5FF;
$lightOrange: #FCE6D1;
$skyLight2: #D1E7FC;
$orangeLightSecondary: #FF8064;
$skyBlue5: #80ABD0;
$silver2: #A6A6A6;
$lightOrange2: #FFE7D2;
$purpleDarkExtra: #D66DB8;
$purpleLight3: #FFECFA;
$pinkDark: #E173C3;